.aboutcontact {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 5rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
  min-height: 100vh;
}
.accontent {
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  p {
    margin: 2rem 30rem 2rem 2rem;
  }
  h1 {
    margin: 2rem;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 5rem;
    h2 {
      h1 {
        margin: 0;
        padding: 0;
      }
    }
    input,
    textarea {
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      border-bottom: 1px solid #ccc;
      width: 100%;
    }
    // button {
    //   padding: 1rem 2rem;
    //   background-color: #d5ffca;
    //   border: none;
    //   border-radius: 0.5rem;
    //   cursor: pointer;
    //   transition: background-color 0.3s ease;

    //   &:hover {
    //     background-color: #c4e6b3;
    //   }
    // }
  }
}
