.aboutLegacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr;

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "sec fir"
      "thi thi";
  }
}

/* Grid Areas */
.block1 {
  grid-area: fir;
}
.block2 {
  grid-area: sec;
}
.block3 {
  grid-area: thi;
}
/* ===========================
   First Block
=========================== */
.firblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  p {
    border-bottom: solid 1px;
    padding: 1rem 5rem 0.5rem 0.9rem;
  }

  h1 {
    font-size: 8rem;
    padding-right: 7rem;
  }
}

.secblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 2rem;
  padding: 0 2rem;
}
.thiblock {
  padding: 0 2rem;

  .secbox {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    .imagecontainer {
      position: relative;
      width: 25rem;
      height: 40rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5rem;

      img {
        object-fit: cover;
        border-radius: 3rem;
      }
    }
    .textcontainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      width: 50%;
      padding: 2rem 0;
      p {
        border-bottom: solid 1px;
        padding: 1rem 5rem 2rem 0.9rem;
      }
    }
  }
}
.blockimg {
  grid-area: img;
}
.blocktext {
  grid-area: txt;
}
