.aboutHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px;
  padding: 2rem;
  min-height: 100vh;
  gap: 2rem;

  background-image: url("/abouthero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.firblock {
  display: flex;
  justify-content: center;
  align-items: start;

  h1 {
    font-size: 1rem;
    font-weight: 600;

    @media (min-width: 640px) {
      font-size: 2rem;
    }

    @media (min-width: 992px) {
      font-size: 4rem;
    }

    @media (min-width: 1200px) {
      font-size: 7rem;
    }
  }
}
.secblock {
  padding: 1rem 4rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  height: 70%;
  p {
    font-size: large;
  }
}
