.seccontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
  min-height: 100vh;
  overflow-x: hidden;
}
.aboutagent {
  align-items: flex-end;
  padding: 2rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}

.thiblock {
  padding: 2rem;
  margin: 2rem;

  .secbox {
    display: flex;
    gap: 10rem;
    .imagecontainer {
      position: relative;
      width: 20rem;
      height: 25rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        border-radius: 1rem;
      }
    }
    .textcontainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      width: 50%;
      padding: 2rem 0;
      overflow-y: auto;
    }
  }
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq {
  border: 1px solid #ddd;
  padding: 0 2rem;
  min-width: 30rem;
}
