.heroproperties {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 5rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
  min-height: 100vh;
}
.section {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin: 5rem 2rem;
  margin-bottom: 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  .secbox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background: white;
    // background-color: #254738;
    border-radius: 1rem;
    overflow: hidden;

    transition: 0.3s;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    }
  }

  .image {
    position: relative;
    width: 100%;
    aspect-ratio: 12 / 10;
    overflow: hidden;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    .cont {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      padding-top: 0;
    }
  }
}
.lastbtn {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 3rem;
}
