:root {
  --text-sm: clamp(0.9rem, 2vw, 1.2rem);
  --text-md: clamp(1.1rem, 3vw, 1.7rem);
  --text-lg: clamp(2rem, 3vw, 3rem);
  --text-xl: clamp(3rem, 6vw, 7rem);
  --color-white: #d9d9d9;
  --color-black: black;
  --color-green: green;
}

.heading {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.1;
  color: var(--color-black);
  padding: 1rem 2rem;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.sm {
  font-size: var(--text-sm);
}

.md {
  font-size: var(--text-md);
}

.lg {
  font-size: var(--text-lg);
}

.xl {
  font-size: var(--text-xl);
}
.white {
  color: var(--color-white);
}
.black {
  color: var(--color-black);
}
.green {
  color: var(--color-green);
}
