.heropartners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 5rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
  min-height: 100vh;
}
.hscontent {
  padding: 2rem;

  p {
    margin: 2rem 20rem 2rem 10rem;
  }
}
.thiblock {
  height: 350vh;

  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .centerimage {
      position: relative;
      width: 24vw;
      height: 24vh;
      margin: 2rem;
    }
  }

  .el {
    position: absolute;
    inset: 0; // top:0; right:0; bottom:0; left:0;

    display: flex;
    align-items: center;
    justify-content: center;

    .imagecontainer {
      position: relative;
      width: 24vw;
      height: 24vh;

      img {
        object-fit: cover;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.el:nth-of-type(1) .imagecontainer {
  top: -30vh;
  left: 0vh;
  width: 15vw;
  height: 23vh;
}
.el:nth-of-type(2) .imagecontainer {
  top: -10vh;
  left: -50vh;
  width: 20vw;
  height: 20vh;
}

.el:nth-of-type(3) .imagecontainer {
  top: 30vh;
  left: -30vh;
  width: 15vw;
  height: 23vh;
}

.el:nth-of-type(4) .imagecontainer {
  top: 30vh;
  left: 40vh;
  width: 15vw;
  height: 30vh;
}

.el:nth-of-type(5) .imagecontainer {
  top: -10vh;
  left: 50vh;
  width: 20vw;
  height: 20vh;
}

.el:nth-of-type(6) .imagecontainer {
  top: 35vh;
  left: -80vh;
  width: 10vw;
  height: 30vh;
}

.el:nth-of-type(7) .imagecontainer {
  top: 40vh;
  left: 80vh;
  width: 15vw;
  height: 30vh;
}
