.heroservices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 5rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
  min-height: 100vh;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr;

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "fir sec"
      "thi thi";
  }
}

/* Grid Areas */
.block1 {
  grid-area: fir;
}
.block2 {
  grid-area: sec;
}
.block3 {
  grid-area: thi;
}

.firblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-top: 3rem;

  p {
    padding: 1rem 0.9rem;
  }
}
.secblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem;
  margin-top: 5rem;
}
.thiblock {
  min-height: 50vh;
  .section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin: 5rem 2rem;
    margin-bottom: 0;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .secbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border: solid 1px;
      border-radius: 1rem;
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
      }

      .detail {
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 1rem 0;
      }
      .image {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1rem;
      }
    }
  }
}
