.heroclients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 5rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
  min-height: 100vh;
  overflow-x: hidden;
}
.hccontent {
  padding: 2rem;

  p {
    margin: 2rem 20rem 2rem 10rem;
  }
}
.slider {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.secbox {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 5rem;
  transition: opacity 0.3s ease-out;

  &:hover {
    opacity: 1;
    transform: translateY(-12px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  }

  .image {
    position: relative;
    min-width: 20rem;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;

    img {
      object-fit: cover;
    }
  }
  .review {
    display: flex;
    flex-direction: column;
    border: solid 10px #d5ffca;
    padding: 2rem 4rem;
    min-height: 400px;
    span {
      opacity: 0.5;
      padding-bottom: 2rem;
    }
    p {
      margin-left: 3rem;
    }
  }
}
