.heroabout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr;

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "fir sec"
      "thi thi";
  }
}

/* Grid Areas */
.block1 {
  grid-area: fir;
}
.block2 {
  grid-area: sec;
}
.block3 {
  grid-area: thi;
}
/* ===========================
   First Block
=========================== */
.firblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  p {
    border-bottom: solid 1px;
    padding: 1rem 5rem 0.5rem 0.9rem;
  }

  h1 {
    font-size: 8rem;
    padding-right: 7rem;
  }
}

.secblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 2rem;
}
.thiblock {
  height: 350vh;

  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    p {
      width: 24vw;
      height: 24vh;
      position: relative;
      padding: 3rem 0;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .el {
    position: absolute;
    inset: 0; // top:0; right:0; bottom:0; left:0;

    display: flex;
    align-items: center;
    justify-content: center;

    .imagecontainer {
      position: relative;
      width: 60vw;
      height: 30vh;

      img {
        object-fit: cover;
      }
    }
  }
}
.el:nth-of-type(1) .imagecontainer {
  top: 30vh;
  left: 20vh;
}
.el:nth-of-type(2) .imagecontainer {
  top: -20vh;
  left: 2vw;
  width: 15vw;
  height: 20vh;
}

.el:nth-of-type(3) .imagecontainer {
  top: -10vh;
  left: -20vw;
  width: 20vw;
  height: 30vh;
}

.el:nth-of-type(4) .imagecontainer {
  top: -10vh;
  left: 20vw;
  width: 20vw;
  height: 15vh;
}
