.heroclients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 5rem;
  background: linear-gradient(to top, white 10%, #d5ffca 90%);
  position: relative;
  border-bottom: solid 1px;
  min-height: 100vh;
}
.hccontent {
  padding: 2rem;

  .secbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: solid 1px;
    padding: 3rem 5rem;
    height: 100%;

    .image {
      position: relative;
      width: 60vw;
      height: 60vh;
      padding: 2rem;
      border: solid 1px;

      img {
        object-fit: cover;
      }
    }
    .review {
      display: flex;
      flex-direction: column;
      border: solid 1px;
      padding: 4rem;
    }
  }
}
