.heroabout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to bottom, white 30%, #d5ffca 50%);
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr;

  @media (width >= 40rem) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "fir sec"
      "thi thi"
      "thi thi";
  }

  .block1 {
    grid-area: fir;
  }
  .block2 {
    grid-area: sec;
  }
  .block3 {
    grid-area: thi;
  }
  .firblock {
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    p {
      border-bottom: solid 1px;
      padding: 1rem 5rem 0.5rem 0.9rem;
    }

    h1 {
      font-size: 8rem;
      padding-right: 7rem;
    }
  }
  .secblock {
    border: solid;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
  }
  .thiblock {
  }
}
